.post {
  position: relative;
  left: 0;
  right: 0;
  border: 1px solid #282c34;
  margin: 5px;
  user-select: none;
}

.post__content {
  width: 100%;
  padding-right: 5em;
  text-align: left;
}

.post__controls {
  position: absolute;
  right: 0;
  top: 0;
}